.main {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
}

.main h1,
.main h2,
.main h3,
.main h4 {
	margin: 0;
	font-weight: 400;
}

.main ul {
	margin: 0;
	padding: 0;
	font-family: inherit;
	list-style-type: none;
}

.main p {
	margin: 0;
}

.main img {
	display: block;
	border: 0;
}

.main a {
	text-decoration: none;
}

/* Шапка */
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FFF;
	max-width: 1380px;
	margin: auto;
	padding: 23px 0;
}

.header-container__left {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 32px;
}

.phone-number__phone {
	font-size: 16px;
	line-height: 24px;
	color: rgba(20, 20, 20, 1);
}

.phone-number__phone--before-phone::before {
	content: url(../img/icon-phone.svg);
	position: relative;
	right: 10px;
	top: 7px;
}

.header-container__right {
	display: flex;
	align-items: center;
}

.navigation {
	margin-right: 30px;
}

.navigation__link {
	font-size: 17px;
	line-height: 25px;
	transition: color 0.3s;
	color: rgba(20, 20, 20, 1);
}

.navigation__link:hover {
	color: rgba(92, 134, 146, 1);
}

.navigation__link--right {
	margin-right: 38px;
}

.navigation__link--right:nth-child(3) {
	margin-right: 50px;
}

.contacts {
	display: flex;
	margin-right: 30px;
}

.contacts__img--right {
	margin-right: 20px;
}

.btn {
	display: inline-block;
	padding: 19px 32px;
	border: 2px solid;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
}

.btn__grey {
	border-color: #5C8692;
	background-color: #5C8692;
	color: rgba(255, 255, 255, 1);
}

.btn__grey--before::before {
	content: url(../img/reservation.svg);
	position: relative;
	right: 10px;
	top: 3px;
}

.container {
	max-width: 1200px;
	margin: auto;
}

/* Главная */
.welcome {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: rgba(235, 243, 245, 1);
}

.welcome__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.greetings {
	display: flex;
}

.greetings__img {
	margin-right: 6px;
}

.little-text {
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: rgba(92, 134, 146, 1);
}

.greetings__text {
	margin-bottom: 5px;
}

.welcome .welcome__title {
	margin-bottom: 16px;
	max-width: 400px;
	font-family: Playfair Display;
	font-size: 55px;
	line-height: 71px;
	letter-spacing: 0.66px;
	color: rgba(20, 20, 20, 1);
}

.welcome .welcome-description {
	margin-bottom: 26px;
	max-width: 480px;
	font-size: 19px;
	line-height: 30px;
	color: rgba(85, 85, 85, 1);
}

.welcome__wrapper-image {
	box-sizing: border-box;
	position: relative;
	width: 592px;
	height: 645px;
	background-color: rgba(235, 243, 245, 1);
	border: 10px solid rgba(92, 134, 146, 1);
}

.welcome-right__img {
	position: absolute;
	z-index: 1;
	left: -40px;
	top: 50px;
	box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.20);
}

.welcome-right__icon {
	position: absolute;
	left: 555px;
	top: 535px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10);
}

/* Об услугах */
.about-services {
	padding-top: 100px;
	padding-bottom: 110px;
}

.about-services__wrapper {
	display: flex;
	justify-content: space-between;
}

.item {
	width: 380px;
}

.services-item__img {
	margin-bottom: 16px;
}

.item .services-item__title {
	margin-bottom: 13px;
	font-family: Playfair Display;
	font-size: 26px;
	line-height: 36px;
	letter-spacing: 0.3px;
	color: rgba(20, 20, 20, 1);
}

.item .services-item__description {
	margin-bottom: 17px;
	letter-spacing: 0.36px;
}

.services-item__description {
	line-height: 30.6px;
	;
}

.light-text {
	font-size: 18px;
	color: rgba(85, 85, 85, 1);
}

.btn__light {
	border-color: rgba(92, 134, 146, 1);
	color: rgba(20, 20, 20, 1);
}

/* Опрятность */
.cleanliness {
	padding-top: 140px;
	padding-bottom: 120px;
	background-color: rgba(235, 243, 245, 1);
}

.cleanliness__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cleanliness__text {
	margin-bottom: 4px;
}

.title {
	font-family: Playfair Display;
	font-size: 45px;
	line-height: 58.5px;
	letter-spacing: 0.45px;
	color: rgba(20, 20, 20, 1);
}

.cleanliness .cleanliness__title {
	max-width: 520px;
	margin-bottom: 14px;
}

.cleanliness .cleanliness__description {
	max-width: 600px;
	margin-bottom: 60px;
}

.advantage {
	display: flex;
}

.advantage__item {
	box-sizing: border-box;
	padding: 22px 0;
	margin-right: 12px;
	width: 186px;
	background-color: #fff;
	border: 2px solid rgba(30, 44, 48, 1);
}

.advantage__item:last-child {
	margin-right: 0;
}

.advantage__image {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 12px;
}

.advantage__title-part {
	display: block;
	font-family: Playfair Display;
	font-size: 22px;
	line-height: 26.4px;
	letter-spacing: 0.26px;
	color: rgba(20, 20, 20, 1);
	text-align: center;
}

.cleanliness__wrapper-image {
	width: 500px;
	height: 576px;
	background-image: url(../img/background-woman.jpg);
}

.cleanliness-right__img {
	position: relative;
	left: -35px;
	top: 35px;
}

/* Цена */
.price {
	padding-top: 99px;
	padding-bottom: 120px;
	background-color: rgba(255, 255, 255, 1);
}

.price__text {
	display: block;
	text-align: center;
	margin-bottom: 4px;
}

.price .price__title {
	max-width: 580px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 70px;
}

.price-top,
.price-bottom {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.price__image {
	box-shadow: 1px 0px 18px 0px rgba(0, 0, 0, 0.20);
}

.price-top .price__service {
	padding-top: 61px;

}

.price__service-item {
	width: 540px;
	padding-bottom: 16px;
	margin-bottom: 13px;
	border-bottom: 1px solid rgba(19, 65, 52, 1);
}

.price__service-item--bottom {
	margin-bottom: 22px;
}

.price__service-block {
	margin-bottom: 3px;
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid rgba(20, 20, 20, 1);
}

.service__title {
	font-family: Playfair Display;
	font-size: 22px;
	line-height: 26.4px;
	letter-spacing: 0.26px;
	text-transform: capitalize;
	color: rgba(20, 20, 20, 1);
}

.service__from {
	margin-right: 10px;
	letter-spacing: normal;
	line-height: 27px;
}

.price__price {
	font-family: Playfair Display;
	font-size: 21px;
	line-height: 33px;
	color: rgba(20, 20, 20, 1);
}

.price-bottom .price__service {
	padding-top: 140px;
}

.price__service-transfer {
	max-width: 450px;
}

.price__service-description {
	font-family: Manrope;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	color: rgba(85, 85, 85, 1);
}

.price__block--top {
	position: absolute;
	right: 510px;
	bottom: 0px;
}

.price__block--bottom {
	position: absolute;
	top: 0px;
	right: 600px;
}

/* Клиент */
.customer {
	padding-top: 100px;
	padding-bottom: 120px;
	background-color: rgba(235, 243, 245, 1);
}

.customer__text {
	margin-bottom: 4px;
	display: block;
	text-align: center;
}

.customer .customer__title {
	margin-bottom: 40px;
	text-align: center;
}

.customer-wrapper {
	display: flex;
	justify-content: space-between;
}


.customer-wrapper__item--wide {
	width: 600px;
}

.customer-wrapper__item--narrow {
	width: 576px;
}

.item__block-top {
	padding-top: 33px;
	padding-bottom: 25px;
	padding-left: 30px;
	background-color: rgba(255, 255, 255, 1);
}

.item__text {
	font-size: 19px;
	line-height: 32.3px;
	color: rgba(20, 20, 20, 1);
}

.item__text--left {
	max-width: 523px;
}

.item__text--right {
	max-width: 475px;
}

.item__block-bottom {
	display: flex;
	justify-content: space-between;
	padding: 22px 30px;
	background-color: rgba(30, 44, 48, 1);
}

.item__info {
	display: flex;
	align-items: center;
}

.item__info .item__image {
	margin-right: 20px;
	border: 2px solid #FFF;
}

.iten__stars {
	margin-bottom: 3px;
}

.item__name {
	display: block;
	margin-bottom: 7px;
	font-family: Playfair Display;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: rgba(255, 255, 255, 1);
}

.item__place {
	display: block;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.42px;
	color: rgba(255, 255, 255, 1);
}

/* Преимущества */
.benefits {
	padding-top: 100px;
	padding-bottom: 110px;
	background-color: rgba(255, 255, 255, 1);
}

.benefits__text {
	display: block;
	text-align: center;
	margin-bottom: 4px;
}

.benefits .benefits__title {
	margin-bottom: 70px;
	text-align: center;
}

.benefits-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.benefits-item {
	width: 373px;
}

.benefits-item:nth-child(-n+3) {
	margin-bottom: 50px;
}

.benefits-item__icon {
	margin-bottom: 14px;
}

.benefits-item__title {
	margin-bottom: 11px;
	font-family: Playfair Display;
	font-size: 26px;
	line-height: 36.4px;
	letter-spacing: 0.31px;
	color: rgba(20, 20, 20, 1);
}

.benefits-item__description {
	font-size: 18px;
	line-height: 27px;
	color: rgba(85, 85, 85, 1);
}

/* Контакты */
.contact {
	padding-top: 110px;
	padding-bottom: 110px;
	background-color: rgba(235, 243, 245, 1);
}

.discount {
	display: flex;
	justify-content: space-between;
}

.contact__text {
	display: block;
	margin-bottom: 3px;
}

.contact .contact__title {
	max-width: 450px;
	margin-bottom: 18px;
}

.contact .contact__description {
	max-width: 540px;
	margin-bottom: 46px;
	font-size: 18px;
	line-height: 30px;
	color: rgba(85, 85, 85, 1);
}

.discount__form {
	display: flex;
}

.contact__item {
	display: flex;
}

.contact__left {
	padding: 33px 32px 40px;
	border-top: 2px solid rgba(92, 134, 146, 1);
	border-left: 2px solid rgba(92, 134, 146, 1);
	border-bottom: 2px solid rgba(92, 134, 146, 1);
}

.contact__wrapper {
	display: flex;
}

.contact__wrapper:first-child {
	margin-bottom: 15px;
}

.contact__image {
	margin-right: 20px;
	position: relative;
	top: -11px;
}

.contact__details {
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: rgba(20, 20, 20, 1);
}



.contact__link {
	display: block;
	font-size: 15px;
	line-height: 22.5px;
	letter-spacing: 1.2px;
	color: rgba(20, 20, 20, 1);
}

.discount__get {
	padding: 23px 25px;
	background-color: rgba(30, 44, 48, 1);
}

.get__top {
	display: block;
	text-align: center;
	font-size: 15px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	line-height: 22.5px;
	color: rgba(255, 255, 255, 1);
}

.get__center {
	margin-bottom: 5px;
	display: block;
	text-align: center;
	font-size: 65px;
	line-height: 78px;
	letter-spacing: 0.78px;
	color: rgba(255, 255, 255, 1);
}

.get__bottom {
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.8px;
	color: rgba(255, 255, 255, 1);
}

form {
	width: 455px;
}

.blank {
	padding: 70px 50px 65px;
	background-color: rgba(255, 255, 255, 1);
}

.blank__form {
	margin-bottom: 20px;
}

input:focus {
	outline-color: #5C8692;
}

.blank__user-image {
	position: absolute;
	z-index: 1;
}

.blank__user {
	font-family: inherit;
	box-sizing: border-box;
	padding-left: 50px;
	width: 455px;
	border: 2px solid rgba(92, 134, 146, 1);
	font-size: 26px;
	line-height: 36.4px;
	letter-spacing: 0.31px;
	color: rgba(20, 20, 20, 1);
}

.blank-size {
	margin-bottom: 20px;
	height: 65px;
}

.blank-textarea {
	height: 130px;
}

.blank__button {
	width: 455px;
	height: 65px;
	border: 2px solid #5C8692;
	background: #5C8692;
	cursor: pointer;
}

/* Блог */
.blog {
	padding-top: 102px;
	padding-bottom: 110px;
	background-color: rgba(255, 255, 255, 1);
}

.blog__text {
	display: block;
	text-align: center;
	margin-bottom: 3px;
}

.blog .blog__title {
	margin-bottom: 66px;
	text-align: center;
}

.content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}

.content__item {
	width: 387px;
	background-color: rgba(235, 243, 245, 1);
}

.content__item-image {
	margin-bottom: 30px;
}

.content__block {
	padding-left: 25px;
	padding-right: 30px;
	padding-bottom: 34px;
}

.content__date {
	display: flex;
	margin-bottom: 15px;
}

.content__part-left {
	margin-right: 12px;
}

.content__dash {
	margin-right: 12px;
}

.light {
	font-size: 13px;
	line-height: 19.5px;
	letter-spacing: 0.78px;
	text-transform: uppercase;
	color: rgba(92, 134, 146, 1);
}

.content .content__title {
	margin-bottom: 14px;
	font-family: Playfair Display;
	font-size: 22px;
	line-height: 30.8px;
	letter-spacing: 0.44px;
	color: rgba(20, 20, 20, 1);
}

.content__description {
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.36px;
	color: rgba(85, 85, 85, 1);
}

.content__button {
	text-align: center;
}

/* Подвал */
.footer {
	padding-top: 70px;
	background-color: rgba(30, 44, 48, 1);
}

.footer-top {
	padding-bottom: 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.social {
	display: flex;
}

.social__link {
	margin-right: 10px;
	box-sizing: border-box;
	padding-top: 20px;
	width: 55px;
	height: 55px;
	border: 2px solid #5C8692;
}

.social__link:last-child {
	margin-right: 0;
}

.social__img {
	margin: auto;
}

.footer-center {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer-center .footer-center__title {
	display: inline-block;
	margin-bottom: 24px;
	font-family: Playfair Display;
	font-size: 22px;
	line-height: 30.8px;
	letter-spacing: 0.352px;
	color: rgba(255, 255, 255, 1);
}

.footer-center__link {
	display: block;
	margin-bottom: 9px;
	font-size: 17px;
	line-height: 28.9px;
	letter-spacing: 0.17px;
	color: rgba(255, 255, 255, 1);
}

.footer-center__other {
	font-size: 17px;
	line-height: 25.5px;
	letter-spacing: 0.17px;
	color: rgba(255, 255, 255, 1);
}

.footer-center__other:first-child {
	margin-right: 30px;
}

.footer-center .footer-center__other--second {
	margin-right: 60px;
}

.footer-center .footer-center__other--bottom {
	margin-right: 40px;
}

.footer-center__link--end {
	margin-bottom: 0;
}

.footer-center__block {
	display: flex;
	margin-bottom: 28px;
}

.footer-center__bottom-part {
	display: block;
}

.footer-bottom {
	padding: 20px 0;
	background-color: rgba(17, 30, 34, 1);
}

.footer-bottom__link {
	display: block;
	text-align: center;
	font-size: 15px;
	line-height: 22.5px;
	letter-spacing: 0.15px;
	color: rgba(255, 255, 255, 1);
}